html {
  /* 1rem = 10px  */
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}


.list {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.list__item {
  margin: 0 20px;
  width: calc(33.33% - 40px);
}

.list__image {
  width: 100%;
}
